*{
    font-family: Arial, Helvetica, sans-serif;
}




.shop{
    text-align: center;
}




.container{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}



.card{
    width: 200px;
    border: 3px solid rgb(180, 153, 86);
    border-radius: 10px;
    padding: 10px;
    background-color: bisque;
    box-shadow: 10px 10px 10px rgb(167, 162, 162);
    


}
.card img{
    width: 100%;
    border-radius: 10px;

}
.card button{
    background-color: #007BFF;
    padding: 5px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    
}

.card .more{
    background-color: rgb(239, 132, 9);
    margin-left: 10px;
    
}

.card button:hover{
    background-color:gray ;
}




