.tower, .fardin{
    height: 400px;
    width: 300px;
    margin-right: 100px;
}

.dokan{
    display: flex;
    gap: 40px;
    
}

.media{
   display: flex;
   height: 100vh;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  
}